* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
header {
    height: 10%;
    display: flex;
}
main {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer {
    height: 10%;
    display: flex;    
}
.header-l {
    width: 20%;
    height: 100%;
    background-color: #54D8DC;
}
.header-r {
    width: 80%;
    height: 100%;
    background-color: #86DADC;
}
.main1 {
    background-image: url(../img/image2.png);
}
.main2 {
    background-image: url(../img/image3.png);
}
.main3 {
    background-image: url(../img/image4.png);
}
.main1,
.main2,
.main3 {
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-l {
    background-color: #FDE1E0;
    width: 20%;
}
.footer-r {
    width: 80%;
}
.footer-t {
    height: 50%;
    background-color: #FECECE;
}
.footer-b {
    height: 50%;
    background-color: #FDB2B5;
}